@use "../settings/variables";
@use "../tools/mixins";

body {
	background-color: variables.$pure-white;
	color: var(--text-color);
	font-family: variables.$primary-font;

	@include mixins.body-lg;
}
